<div class="client-selector">
  <div class="selected input-wrapper" (click)="isOpen.set(!isOpen())">
    <div class="client-pfp" [style.background-image]="`url(${selectedOption?.clientPfpUrl})`"></div>
    <div class="scale-wrapper">
      <div class="selected-value">
        {{ selectedOption?.clientFirstName }}
      </div>
      <svg lucideArrowDown class="arrow-icon" [class.opened]="isOpen()"></svg>
    </div>
  </div>
  <div class="dropdown" [class.opened]="isOpen()">
    @for (option of options(); track option.value) {
      <div
        class="option"
        [class.selected]="control().value === option.value"
        (click)="control().setValue(option.value); isOpen.set(false)"
      >
        <div class="client-pfp" [style.background-image]="`url(${option.clientPfpUrl})`"></div>
        <span>{{ option.clientFirstName }}</span>
        @if(control().value === option.value){
          <svg lucideCheck class="check-icon"></svg>
        }
      </div>
    }
  </div>
</div>
