:host {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.base-info-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.control {
  min-width: 400px;
}
