.targets {
  display: flex;
  align-items: center;
  flex-direction: column;

  &-title {
    margin-bottom: 12px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 500px;
  }
}
