  <div class="profile-preview-card">
    <a
      class="card-wrapper"
      routerLink="/profile/{{username()}}"
      target="_blank"
      rel="noopener noreferrer"
    >
        <div class="pfp" pfpCircle [pfpUrl]="pfpUrl()"></div>
        <span class="fullName">{{ fullName() }}</span>
        <div class="dot"></div>
        <span class="username">&#64;{{ username() }}</span>

        @let activeDisplay = active() ? 'Active' : 'Inactive';
        <div class="active-wrapper">
          <div class="dot"></div>
          <span [class.success]="active()" [class.error]="!active()">{{ activeDisplay }}</span>
          </div>
    </a>
    <button
      liftonButton
      tooltip="Invite this client"
      icon="send"
      class="circular inviteBtn"
      (click)="onInvite.emit({ id: userId(), fullName: fullName() })"
    ></button>
  </div>

