header {
  display: flex;
  top: 0;
  left: 0;
  width: calc(100% - 80px);
  height: 60px;
  padding: 25px 40px;
  justify-content: space-between;
  
  .left-section {
    display: flex;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 40px;
    margin-right: 40px;
    cursor: pointer;
    
    img {
      width: 125px;
      padding-left: 12px;
      padding-bottom: 3px;
    }
  }

  nav {
    display: flex;

    ul {
      display: flex;
      justify-content: center;
      height: 100%;
      padding: 0;
      margin: 0;
      
      &.tabs {
        background-color: #fff;
        border-radius: 40px;

        .tab {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 17px 20px;
          color: #000;
          cursor: pointer;
        }
      }

      &.profile {
        gap: 17px;

        li {
          button {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: #fff;
            width: 60px;
            border-radius: 100%;
            cursor: pointer;
            overflow: hidden;
            transition: .3s;
            z-index: 2;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: var(--primary-dark-gradient);
              opacity: 0;
              pointer-events: none;
              transition: .3s;
              z-index: -1;
            }

            &:hover {
              color: #fff;

              &::before {
                opacity: 1;
              }
            }
          }

          .profile-widget {
            display: flex;
            position: relative;
            background-color: #fff;
            height: 100%;
            border-radius: 40px;
            padding-left: 14px;
            padding-right: 25px;
            align-items: center;
            cursor: pointer;
            overflow: hidden;
            transition: .25s;
            z-index: 2;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: var(--primary-dark-gradient);
              opacity: 0;
              pointer-events: none;
              transition: .25s;
              z-index: -1;
            }

            &:hover {
              color: #fff;

              .brief-props span {
                color: #ccc;
              }

              &::before {
                opacity: 1;
              }
            }

            .pfp {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              height: 35px;
              border-radius: 100%;
              border: 2px solid var(--primary-blue-light);
              background-color: #fff;
              margin-right: 10px;

              img {
                width: 25px;
              }
            }

            .text {
              display: flex;
              flex-direction: row;
              align-items: flex-end;
              justify-content: space-between;
            }

            .brief-props {
              display: flex;
              align-items: center;

              span {
                font-size: 15px;
                color: var(--primary-grey);
                transition: .25s;
              }

              .dot {
                margin: 0 5px;
              }
            }
          }          
        }
      }
    }
  }
}