<header>
  <div class="left-section">
    <div class="logo">
      <img src="/assets/lifton-logo.png" alt="">
    </div>
    <nav>
      <ul class="tabs">
          <li class="tab" routerLink="">
            Overview
          </li>
          <li class="tab" routerLink="">
            Clients
          </li>
          <li class="tab" routerLink="">
            Programs library
          </li>
        </ul>
      </nav>
  </div>

  <nav>  
    <ul class="profile">
      <li>
        <button>
          <svg lucideSun></svg>
        </button>
      </li>
      <li>
        <button>
          <svg lucideBell></svg>
        </button>
      </li>
      <li>
        <button>
          <svg lucideMail></svg>
        </button>
      </li>
      <li routerLink="/profile">
        <div class="profile-widget">
          <div class="pfp">
            <img src="/assets/no-pfp.png" alt="Avatar icon" />
          </div>
          <div class="wrapper">
            <div class="text">
              <span class="fullName">John Johnathan</span>
              <svg lucideMoveRight></svg>
            </div>
            <div class="brief-props">
              <span>trainer</span>
              <span class="dot">•</span>
              <span>jjhnt@gmail.com</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>