input, textarea {
  font-family: "Sora", sans-serif;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 15px;
  transition: border-color .2s;

  &:hover {
    border-color: var(--primary-blue) !important;
  }

  &.compact {
    padding: 12px 15px;

    svg {
      width: 20px;
    }
  }

  &.filled {
    background-color: #fff;
    border: none;
  }

  &.outlined {
    border: 1px solid var(--primary-grey-light);
  }

  &.invalid {
    border: 1px solid var(--primary-error);
    color: var(--primary-error);

    input {
      color: var(--primary-error);
    }
  }

  input, textarea {
    align-self: flex-end;
    font-size: 15px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-right: 10px;
    flex: 1;
    z-index: 2;

    &[type="number"]{
      max-width: 100%;
    }

    &::placeholder {
      transition: .2s;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  textarea {
    resize: vertical;
    overflow: hidden;
    min-height: 50px;
    max-height: 200px;
  }

  span {
    border-left: 1px solid var(--primary-grey);
    padding-left: 10px;
  }

  svg.interact-icon {
    cursor: pointer;
  }
}

.invalid-msg {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-left: 15px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.25s ease-out, opacity 0.2s linear, padding 0.25s ease-out;

  &.visible {
    padding-top: 10px;
    max-height: 50px;
    opacity: 1;
  }

  span {
    color: var(--primary-error);
    font-weight: 300;
    margin-left: 5px;
  }
}
