<div class="quiz-align-center">
  @if(role() == 'client'){
  <h1>What will be your training focus?</h1>
}

  @if(role() == 'trainer'){
    <h1>What is your specialization?</h1>
  }

  <div class="line"></div>

  <div class="quiz-options">
    <div class="quiz-card" (click)="selected.emit('strength')">
      <img src="/assets/strength.jpg" alt="Strength" draggable="false">
      <h2>Strength</h2>
      <p>Strength sports like powerlifting, armwrestling, gymnastics...</p>
    </div>
    <div class="quiz-card" (click)="selected.emit('muscles')">
      <img src="/assets/muscles.jpg" alt="Muscle gain" draggable="false">
      <h2>Muscle gain</h2>
      <p>A gym without bodybuilders in it is not a gym is it?</p>
    </div>
    <div class="quiz-card" (click)="selected.emit('fat-loss')">
      <img src="/assets/fat-loss.jpg" alt="Fat loss" draggable="false">
      <h2>Fat loss</h2>
      <p>Focus on cardiovascular and structural body health</p>
    </div>
  </div>
</div>