<div class="widget">
  <div class="top-block">
    <h3>Schedule</h3>
    <button liftonButton class="circular open-more" tooltip="Open full schedule" (click)="onOpenFull.emit()">
      <svg lucideIcon="arrow-up-right"></svg>
    </button>
  </div>
  <div class="calendar">
    <div class="week">
      @for (day of week; track $index) {
        <div class="cell">
          <div class="week-day">
            {{ day | date: 'EEE' }}
          </div>
          <div
            class="day"
            (click)="selectedDay.set(day); onSelectDay.emit(selectedDay())"
            [class.selected]="isSameDay(selectedDay(), day)"
            [class.today]="isSameDay(currentDate, day)"
          >
            {{ day | date: 'd' }}
          </div>
        </div>
      }
    </div>
  </div>
  <div class="content">
    <div class="line"></div>
    <ng-content />
  </div>
</div>
