.widget {
  .top-text {
    display: flex;
    justify-content: space-between;

    .percentage {
      display: flex;
      align-items: center;
      gap: 10px;

      .percent {
        font-size: 32px;
      }

      .date {
        font-size: 18px;
      }
    }
  }

  .no-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    gap: 12px;

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border: 1px solid var(--primary-grey);
      border-radius: 10px;
      width: 40px;
      height: 40px;

      svg {
        color: var(--primary-grey);
      }
    }
  }
}
