<div class="exercise-selector">
  <div class="selected" (click)="isOpen.set(!isOpen())">
    <div class="scale-wrapper">
      <div class="selected-value">
        {{ selectedOption.label }}
      </div>
      <svg lucideArrowDown class="arrow-icon" [class.opened]="isOpen()"></svg>
    </div>
  </div>
  <div class="dropdown" [class.opened]="isOpen()">
    @for (option of processedOptions(); track option.id) {
      <div
        class="option"
        [class.selected]="control.value === option.id"
        (click)="selectOption(option)"
      >
        <span>{{ option.label }}</span>
        <svg lucideCheck class="check-icon" [class.visible]="control.value === option.id"></svg>
      </div>
    }
  </div>
</div>
