.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;

  .title {
    margin-left: 100px;
    margin-bottom: 35px;
  }

  &-widget {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    border-radius: 35px;
    padding: 60px 40px 40px 40px;
    box-shadow: 0 0 12px #fff;
    margin: auto;
    
    .row {
      display: flex;
      width: 100%;
    }

    .pfp {
      min-width: 100px;

      .editPfpBtn {
        display: flex;
        position: absolute;
        top: 70%;
        right: -15px;
        align-items: center;
        justify-content: center;
        padding: 9px;
        border-radius: 100%;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .text {
      padding: 20px 30px;

      &-top-row {
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        gap: 7px;
        
        h3, h4 {
          margin: 0;
        }

        .role, span {
          color: var(--primary-grey)
        }

        .fullName {
          font-size: 24px;
        }
      }


      .description {
        .label {
          font-size: 18px;
          color: var(--primary-grey)
        }

        p {
          font-size: 17px;
          margin: 8px 0;
          max-width: 80%;
        }
      }

      .props {
        display: flex;
        margin-top: 25px;
        gap: 50px;

        .column {
          display: flex;
          flex-direction: column;
          gap: 15px;

          .prop {
            display: flex;
            flex-direction: column;

            .label {
              font-size: 18px;
              color: var(--primary-grey);
              margin-bottom: 7px;
            }

            .value {
              font-size: 17px;
            }
          }
        }
      }
    }

    .bottom-ops {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      width: 100%;
      margin-top: 20px;

      button {
        padding: 13px 20px;

        svg {
          margin-left: 10px;
          width: 20px;
        }
      }
    }
  }
}