.content-wrapper {
  background: #fff;
  padding: 20px 25px;
  border: 1px solid var(--primary-grey-light);
  border-radius: 25px;

  .week-days-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 7px;
    margin-bottom: 20px;

    .week-day {
      padding: 6px 14px;
      color: var(--primary-grey);
      cursor: pointer;
      border-radius: 20px;

      &:hover {
        background-color: var(--primary-grey-light);
      }

      &.selected {
        background-color: var(--primary-blue-light);
        color: var(--primary-blue);
      }
    }
  }
}
