.widget {
  min-width: 600px;

  @media (max-width: 1555px) {
    min-width: 400px;

    .targets {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }

  .targets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 10px 0;
    gap: 40px;

    .target {
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        justify-content: space-between;

        .exercise-name {
          font-weight: 500;
          font-size: 18px;
        }

        .target-name {

        }

        .target-completion {
          font-size: 22px;
        }

        &.target-info {
          margin-bottom: 5px;
        }

        &.target-values {
          margin-top: 10px;
          gap: 50px;
        }
      }
    }

    .no-goals {
      font-weight: 500;
      font-size: 18px;
    }
  }
}
