@let targets = clientFacade.targets()?.targets;

<div class="widget">
  <div class="top-block">
    <h3>Your targets</h3>
    @if(targets){
      @if(targets.length > 4){
        <button liftonButton class="circular">
          <svg lucideArrowUpRight></svg>
        </button>
      }
    }
  </div>
  <div class="targets">
    @if(targets){
      @for (target of targets; track target.id) {
        <div class="target">
          <div class="row target-info">
            <span class="target-name">{{ target.name }}</span>
            <div class="target-completion highlight">{{ target.completionPercentage }}%</div>
          </div>
          <div class="progress">
            <app-progress-bar [completion]="target.completionPercentage" [compactStyle]="true" class="progress-bar" />
          </div>
          <div class="row target-values">
            <div class="current">
              <span class="grey">current - </span>
              <span class="warn">{{ target.currentValue }} {{ target.unit }}</span>
            </div>
            <div class="goal">
              <span class="grey">target - </span>
              <span class="success">{{ target.targetValue }} {{ target.unit }}</span>
            </div>
          </div>
        </div>
      }
    }
    @else {
      <span class="grey no-goals">No goals set in this training program</span>
    }
  </div>
</div>
