<div class="profile-widget" [class.dark]="color() === 'dark'">
<!--  <div class="pfp pfp-style mini" [style.backgroundImage]="`url(${profile()?.pfpUrl ?? '/assets/no-pfp.png'})`"></div>-->
<!--  <app-pfp-circle class="pfp" [pfpUrl]="profile()?.pfpUrl" />-->
  <div class="pfp mini" pfpCircle [pfpUrl]="profile()?.pfpUrl"></div>
  <div class="wrapper">
    <div class="text">
      <span class="fullName">{{ profile()?.fullName }}</span>
      <svg lucideMoveRight></svg>
    </div>
    <div class="brief-props">
      <span>{{ profile()?.role | userRole | lowercase }}</span>
      <span class="dot">•</span>
      <span>{{ profile()?.email }}</span>
    </div>
  </div>
</div>
