@let noClients = !(clientsList.length);

<div class="widget">
  <div class="top-block">
    <h3>Your clients</h3>
    @if (!noClients){
      <button class="circular" liftonButton>
        <svg lucideArrowUpRight></svg>
      </button>
    }
  </div>
  <div class="count">{{ clientsList.length }}</div>
  <div class="clients-list">
    @for (client of clientsList; track client.id) {
      <app-client-preview [type]="'statusActivity'" [clientUser]="client" />
    }
  </div>
  @if (noClients) {
    <span class="grey">No clients yet</span>
    <a liftonButton class="search-clients-btn" [icon]="'arrowUp'">
      Search for clients
    </a>
  }
</div>
