<div class="dashboard-wrapper">
  <div class="top-text">
    <h2 class="greetings">Hi, {{ userFullName() }}.</h2>

    @if(userRole() === UserRole.CLIENT){
      <h2>Here is your general overview and analytics of the training.</h2>
    }
    @if(userRole() === UserRole.TRAINER){
      <h2>Here is your trainer's overview on your clients.</h2>
    }
  </div>
  <div class="widgets" [class.no-data]="noData()">
    @for (widget of widgetRegistry()[userRole()]; track $index) {
      <div class="widget-host" [class]="widget.grid">
        <ng-container *ngComponentOutlet="widget.component"></ng-container>
      </div>
    }
  </div>
</div>
