<div class="select-input" [class.invalid]="control().invalid && control().touched">
  <div class="selected input-wrapper" [class.compact]="compact()" (click)="isOpen.set(!isOpen())" (blur)="control().markAsTouched()">
    <div class="scale-wrapper">
      @if(placeholder() && !selectedOption){
        <div class="placeholder">
          {{ placeholder() }}
        </div>
      }
      <div class="selected-value">
        {{ selectedOption?.label }}
      </div>
      <svg lucideArrowDown [class.opened]="isOpen()"></svg>
    </div>
  </div>
  <div class="dropdown" [class.opened]="isOpen()">
    @for (option of options(); track option.value) {
      <div
        class="option"
        [class.selected]="control().value === option.value"
        (click)="control().setValue(option.value); isOpen.set(false)"
      >
        <span>{{ option.label }}</span>
        @if(control().value === option.value){
          <svg lucideCheck></svg>
        }
      </div>
    }
  </div>

</div>
  <div class="invalid-msg" [class.visible]="control().invalid && control().touched">
    <img src="/assets/error.png" alt="">
    <span>{{ errorMessage }}</span>
  </div>
