@let _workout = clientFacade.workout();

<div class="widget" [class.empty]="!!_workout">
  <div class="top-text">
    <h3>Upcoming workout</h3>
    <svg lucideMoveRight></svg>
    @if(_workout){
      <div class="date">
        <span class="highlight">{{ _workout.day | titlecase }}</span>
        <span class="full-date">{{ _workout.date | date: 'longDate' }}</span>
      </div>
    } @else {
      <div class="grey">No upcoming workout</div>
    }
  </div>

  @if(_workout){
    <div class="workout-info">
      <span class="workout-name highlight">“{{ _workout.name }}”</span>
      <table class="workout-table">
        <tr class="header">
          <th>Exercise</th>
          <th>Total sets</th>
          <th>Total reps</th>
          <th>Total volume</th>
        </tr>
        @for (ex of _workout.exercises; track ex.id) {
          <tr class="exercise">
            <td class="exercise-name">• {{ ex.name }}</td>
            <td>{{ ex.sets.length }}</td>
            <td>{{ getTotalReps(ex.sets) }}</td>
            <td>{{ getTotalVolume(ex.sets) }}{{ ex.unit }}</td>
          </tr>
        }
      </table>
    </div>

    @if(_workout.isAllowedToStart){
      <div class="bottom-button">
        <a liftonButton routerLink="/workout-session" icon="play">Start workout session</a>
        <svg
          cdkOverlayOrigin
          #moreActionsTrigger="cdkOverlayOrigin"
          lucideIcon="ellipsis-vertical"
          class="more-btn"
          (click)="actionsDropdownShow.set(!actionsDropdownShow())"
        ></svg>
      </div>

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayPanelClass]="['workout-widget-actions-dropdown', 'widget']"
        [cdkConnectedOverlayOrigin]="moreActionsTrigger"
        [cdkConnectedOverlayOpen]="actionsDropdownShow()"
        [cdkConnectedOverlayPositions]="actionsDropdownPositions"
        (overlayOutsideClick)="actionsDropdownShow.set(false)"
      >
        <a
          liftonButton
          icon="skip-forward"
          class="skip-workout-btn red-tone"
          (click)="confirmSkippingModal.set(true); actionsDropdownShow.set(false)"
        >
          Skip this workout
        </a>
      </ng-template>
    }
    @else {
      <div class="not-allowed-text success">
        <svg lucideIcon="info"></svg>
        You'll be able to start the workout on its day
      </div>
    }
  }
</div>

@if(confirmSkippingModal()){
  <app-skip-workout-modal
    (onAccept)="skipWorkout($event)"
    (onDiscard)="confirmSkippingModal.set(false)"
  />
}
