.widget {
  .top-text {
    .date {
      font-weight: 500;
      font-size: 18px;

      .full-date {
        color: var(--primary-grey);
        margin-left: 7px;
      }
    }
  }

  &.empty {
    padding: 15px 30px;
  }

  .workout-name {
    font-size: 19px;
  }

  .workout-table {
    position: relative;
    border-spacing: 20px 0;
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 6px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #000;
    }

    td {
      padding: 8px;
    }

    .header {
      color: var(--primary-grey);
      text-align: left;

      th {
        padding: 8px 0 8px 0;
        font-weight: 600;
      }
    }

    .exercise {
      td {
        font-weight: 600;
        padding-left: 0;
      }

      &-name {
        margin-right: 20px;
      }
    }
  }

  .bottom-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;

    a {
      width: 75%;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.20);
      font-weight: 600;
      font-size: 15px;
    }

    .more-btn {
      color: var(--primary-grey);
      cursor: pointer;
      width: 24px;
      transition: 0.15s;

      &:hover {
        color: var(--primary-blue);
      }
    }
  }

  .not-allowed-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    padding: 10px 0;
    margin-top: 20px;
  }
}
