.workout-form {
  background-color: #fff;
  border: 1px solid var(--primary-grey-light);
  padding: 20px 50px;
  width: 100%;
  border-radius: 20px;

  .week-days-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 7px;
    margin-bottom: 20px;

    .week-day {
      padding: 6px 14px;
      color: var(--primary-grey);
      cursor: pointer;
      border-radius: 20px;

      &:hover {
        background-color: var(--primary-grey-light);
      }

      &.selected {
        background-color: var(--primary-blue-light);
        color: var(--primary-blue);
      }
    }
  }

  .exercises-list {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;

    .exercise-preview-item {
      display: flex;
      align-items: center;
      color: #000;
      border: 1px solid var(--primary-blue-light);
      background-color: #C3E6FF;
      border-radius: 30px;
      padding: 11px 20px;
      gap: 7px;

      .actions {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: auto;

        .action {
          width: 20px;
          margin-left: auto;
          cursor: pointer;
          transition: .2s;

          &.editBtn:hover {
            color: var(--primary-success);
          }

          &.removeBtn:hover {
            color: var(--primary-error-light);
          }
        }
      }


      .name {
        font-weight: 600;
      }
    }

    .add-exercise {
      padding: 11px 20px;
      color: #AAA;
      font-size: 15px;

      &:active {
        transform: scale(0.97);
      }
    }

    .no-exercises {
      color: var(--primary-error);
    }
  }

  footer {
    display: flex;

    .workout-editing {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

      .chip {
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: var(--primary-grey-light);
        padding: 5px 12px;
        border-radius: 20px;

        .close-icon {
          cursor: pointer;
          width: 20px;
          transition: .2s;

          &:hover {
            color: var(--primary-error-light)
          }
        }
      }
    }

    .add-created-workout, .edit-created-workout {
      display: flex;
      align-items: center;
      justify-self: flex-end;
      font-size: 15px;
      color: var(--primary-blue);
      border-radius: 30px;
      background: none;
      padding: 8px 15px;
      margin-left: auto;
      gap: 11px;
      transition: .2s;

      &:hover {
        background-color: var(--primary-blue-lighter);
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
