<div class="widget">
  <h3>Program completion</h3>
  @let _programCompletion = clientFacade.programCompletion();
  @if(_programCompletion){
    <div class="wrapper">
      <div class="progress">
        <app-progress-bar [completion]="_programCompletion.completionPercentage" class="progress-bar" />
        <div class="percentage">{{ _programCompletion.completionPercentage }}%</div>
      </div>
      <div class="text-wrapper">
        <div class="text">
          <span>{{ weeksPassedDisplay(_programCompletion.weeksPassed, _programCompletion.daysOffset) }}</span>
          <span>{{ weeksTotalDisplay(_programCompletion.weeksTotal) }}</span>
        </div>
        <div class="text">
          <span>{{ _programCompletion.workoutsCompleted }} {{ workoutsWordDisplay(_programCompletion.workoutsCompleted) }}</span>
          <span>{{ _programCompletion.workoutsLeft }} left</span>
        </div>
      </div>
    </div>
  }
</div>
