.client-preview {
  display: inline-flex;
  position: relative;
  align-items: center;
  background: var(--primary-dark-gradient);
  width: 100%;
  border-radius: 35px;
  padding: 10px 25px 10px 15px;
  gap: 15px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: .2s;
  z-index: 1;

  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: var(--primary-dark-gradient);
  //  opacity: 0;
  //  transition: 0.2s;
  //  z-index: -1;
  //}

  &:hover {
    .info .client-name {
      color: var(--primary-blue-light);
    }
  }

  &.statusActivity {
    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      .client-name {
        font-size: 17px;
        transition: .2s;
      }

      .dot {
        min-width: 10px;
        min-height: 10px;
        background-color: #fff;
        border-radius: 100%;
      }
    }
  }

  .client-pfp {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 100%;
  }

  .info {
    .client-name {
      color: #fff;
      font-weight: 300;
      font-size: 17px;
      transition: .2s;
    }

    .line {
      margin: 4px 0;
    }

    .workout-name {
      color: var(--primary-blue-light);
      font-weight: 300;
    }
  }
}
