@if(type() === 'clientWithWorkout' && clientWithWorkout()){
  @let client = clientWithWorkout()!;

  <div class="client-preview">
    <div class="client-pfp" pfpCircle [pfpUrl]="client.pfpUrl"></div>
    <div class="info">
      <span class="client-name">{{ client.fullName }}</span>
      <div class="line"></div>
      <span class="workout-name">{{ client.plannedWorkout.name }}</span>
    </div>
  </div>
} @else if(type() === 'statusActivity' && clientUser()){

  @let client = clientUser()!;
  @let activeDisplay = client.active ? 'Active' : 'Inactive';

  <div class="client-preview" [class.statusActivity]="type() === 'statusActivity'">
    <div class="client-pfp" pfpCircle [pfpUrl]="client.pfpUrl"></div>
    <div class="info">
      <div class="client-name">{{ client.fullName }}</div>
      <div class="dot"></div>
      <div class="status" [class.success]="client.active" [class.error]="!client.active">{{ activeDisplay }}</div>
    </div>
  </div>
}
