<div class="quiz-align-center">
  <h1>Add some more information to your profile</h1>
  <div class="line"></div>
  <form class="register-form" [formGroup]="formGroup()" (ngSubmit)="onSubmit.emit()">
    <app-input
      id="pfp"
      placeholder="Enter your mobile phone"
      [control]="formGroup().controls.phone"
      invalidMsg="Email is invalid"
      [style]="'filled'"
    >
        <svg lucidePhone></svg>
    </app-input>
    <app-input
      id="pfp"
      placeholder="Enter your email"
      [control]="formGroup().controls.email"
      invalidMsg="Email is invalid"
      [style]="'filled'"
    >
      <svg lucideMail></svg>
    </app-input>
    <app-input
      id="pfp"
      type="password"
      placeholder="Enter your password"
      [control]="formGroup().controls.password"
      invalidMsg="Email is invalid"
      [style]="'filled'"
    >
    </app-input>
  </form>
</div>