@let _clientsProgressCharts = trainerFacade.allClientsProgressWidget();

<div class="widget">
  <div class="top-block">
    <h3>Clients progress trend</h3>
    <div class="filters">
      @if(clients().length){
        <app-client-selector [options]="generateClientsOptions()" (onSelect)="selectedClientId.set($event)" />
      }

      @if(_clientsProgressCharts && _clientsProgressCharts.length > 0 && generatedExercisesOptions().length > 0){
        <progress-chart-exercise-selector [options]="generatedExercisesOptions()" (onSelect)="selectedExerciseOption.set($event)" />
      }
    </div>
  </div>
  <div class="wrapper">
    @if(clients().length && _clientsProgressCharts){
      <div class="progress">
        <app-progress-chart
          [chartData]="lineChartData()"
          [chartOptions]="lineChartOptions"
          noProgressMessage="No data to analyze yet for {{selectedClientChartData()?.clientData?.fullName}}"
        />
      </div>
      <div class="analytics">
        <div class="row">
          <span class="title">{{ selectedClientName() }}'s progress last weeks:</span>
          <span class="warn percentage">4.2%</span>
        </div>
        <div class="row">
          <span class="title">Average progress rate of your clients:</span>
          <span class="success percentage">12.1%</span>
        </div>
      </div>
    }
    @else {
      <span class="grey">There is no progress to analyze yet</span>
    }
  </div>
</div>
