:host {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  --c1: var(--primary-blue-light);
  --c2: var(--primary-blue-lighter);
  background: linear-gradient(90deg, var(--c1, var(--primary-blue-lighter)), var(--c2, var(--primary-blue-lighter)) 51%, var(--c1, var(--primary-blue-light))) var(--x, 0) / 200%;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 25px;
  transition: 0.3s;

  &:hover {
    --x: 100%;
  }

  svg {
    position: absolute;
    right: 30px;
  }

  &:disabled {
    opacity: 0.9;
    pointer-events: none;
  }
}
