/* Sora global font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --primary-blue: #0084E2;
  --primary-blue-light: #60BAFA;
  --primary-blue-lighter: #B0CDE2;
  --primary-grey: #535353;
  --primary-grey-light: #D2D2D2;
  --primary-error: #FF3737;
  --primary-blue-gradient: linear-gradient(to right, var(--primary-blue-light),var(--primary-blue-lighter));
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

button {
  font-family: "Sora", sans-serif;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}