<div class="modal-window-wrapper" (click)="onOutClick($event)">
  <div class="modal-window">
    <header class="top-row">
      <h2>{{ title() }}</h2>
    </header>
    <main class="content">
      <ng-content />
    </main>
    <footer class="bottom-row">
      <button liftonButton (click)="onSubmit.emit()" [disabled]="acceptBtnDisabled()">{{ acceptOption() }}</button>
      <button liftonButton (click)="onDiscard.emit()" class="red-tone">{{ discardOption() }}</button>
    </footer>
  </div>
</div>