.modal-window {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  padding: 20px 0;
  border-radius: 20px;
  border: 1px solid #fff;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 100vh;
    z-index: 999;
  }

  header {
    padding: 10px 40px 20px 40px;

    h2 {
      margin: 0;
    }

    .subtitle {
      margin: 10px 0;
    }
  }

  main {
    max-width: 85vw;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;

    .content-wrapper {
      padding: 0 40px;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 40px;
  }
}
