.auth-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(10px);

  &-wrapper {
    padding: 100px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.15);
  }

  .line {
    display: block;
    width: 70px;
    height: 2px;
    background-color: #000;
  }

  .title {
    margin-top: 10px;
  }

  .project-description {
    color: var(--primary-grey);
    max-width: 370px;
    font-weight: 300;
    font-size: 18px;
  }

  .form-wrapper {
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      top: 5%;
      left: -5%;
      border: 1px solid var(--primary-grey-light);
      border-radius: 20px;
      width: 110%;
      height: 100%;
      z-index: -1;
    }
  }
}

.auth-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/auth-bg.jpg");
  background-size: cover;
  z-index: -1;
}