.widget {
  .mini-title {
    font-size: 17.5px;
    font-weight: 400;
    margin: 15px 0;
  }

  .rate {
    display: flex;
    align-items: center;
    gap: 12px;

    .avg-percentage {
      font-size: 32px;
      font-weight: 600;
    }

    .conclusion {
      color: var(--primary-success);
    }
  }

  .date-span {
    display: block;
    margin-top: 15px;
  }
}
