@let widgetData = trainerFacade.adherenceRateWidget();

<div class="widget">
  <h4 class="mini-title">Adherence rate</h4>
  @if(widgetData){
    <div class="rate">
      <span class="avg-percentage">{{ widgetData.percentage }}%</span>
      <div class="conclusion {{getConclusionStyle(widgetData.percentage)}}">{{ adherenceRateConclusion(widgetData.percentage) }}</div>
    </div>
    <span class="date-span grey">
      Info from {{ widgetData.daysRange.start | date: 'MMM d' }} - {{ widgetData.daysRange.end | date: 'mediumDate' }}
    </span>
  }
</div>
